name: urbancoll
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: any
  firebase_core: any
  cloud_firestore: any
  firebase_auth: any
  provider: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: any

  flutter_lints: any

flutter:
  uses-material-design: true

  assets:
    - assets/fonts/NotoSans-Regular.ttf

  fonts:
    - family: NotoSans
      fonts:
        - asset: assets/fonts/NotoSans-Regular.ttf
