version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://user:password@db:5432/urbancoll
      - PAYSTACK_SECRET_KEY=your_paystack_secret_key
    depends_on:
      - db

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: urbancoll
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: